@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #cae7f3;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#diarioTitulologin {
    font-family: 'DynaPuff';
    text-align: center;
    color: #9d63c4;
    margin-top: 55px;
    font-size: 90px;
}

#diarioTitulo{
    font-family: 'DynaPuff';
    text-align: center;
    color: #9d63c4;
    margin-top: -50px;
    font-size: 70px;
}

h3 {
    font-family: 'Sour Gummy';
    text-align: center;
    color: #6b3fa0;
    margin-top: 20px;
    margin-bottom: -25px;
    font-size: 30px;
}

h2{
    font-family: 'Sour Gummy';
    text-align: center;
    color: #6b3fa0;
    margin-top: 8px;
    font-size: 30px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    gap: 100px;
    flex-wrap: wrap;
}

.container.coluna {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    padding: 2rem;
}